@import url('https://fonts.googleapis.com/css?family=Quicksand');

:root {
    --card-bg: 37, 31, 47;

    --title-clr: 151, 76, 125;
    --content-clr: 198, 198, 198;
    --content-clr-hvr: 151, 76, 125;
}

html, body, #app { margin: 0; padding: 0; height: 100vh; }
* { font-family: Quicksand; }
a { text-decoration: none; }
#app { display: flex; flex-flow: row wrap; justify-content: center; align-items: center; }

.container {
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
    min-width: 35%;
    min-height: 13%;
}

#search {
    width: 100%
}

#search input {
    width: 100%;
    background-color: rgb(var(--card-bg));
    border: 1px solid rgb(var(--title-clr)); border-radius: .25rem;
    color: rgb(var(--content-clr)); font-size: 1rem;
    height: 30px;
    padding: 1.5rem;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    outline: 0;
    text-align: center;
}

#search input::placeholder {
    color: rgba(var(--title-clr));
}

.container #links {
    display: flex; flex-direction: row; justify-content: space-between; align-items: center;
    width: 100%;
}

.dropdown {
    color: rgb(var(--title-clr));
    font-size: 1.2rem;
    background-color: rgb(var(--card-bg));
    padding: 1rem 2rem;
    border: 1px solid rgb(var(--title-clr)); border-radius: .25rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.dropdown-content {
    display: none; position: absolute;
    background-color: rgb(var(--card-bg));
    flex-direction: column;
    z-index: 1;
    min-width: 100px;
    margin-top: 17px;
    margin-left: -33px;
    padding: 1rem;
    border: 1px solid rgb(var(--title-clr)); border-radius: .25rem;
}
.dropdown-content > a {
    color: rgb(var(--content-clr));
    font-size: 1.2rem;
    transition: color .2s;
    margin: .15rem 0;
}

.dropdown-content > a:hover {
    color: rgb(var(--title-clr));
}
  
.dropdown:hover .dropdown-content {
    display: flex; 
}

#background {
    width: 100%; height: 100%;
    position: fixed;
    left:0; top:0;
    z-index: -1;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 15%; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("../img/bg.jpg")
}
